<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.slash.batterychargelimit">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--<uses-permission android:name="android.permission.BATTERY_STATS"/>-->
    <uses-permission android:name="android.permission.RESET_BATTERY_STATS"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_adaptive"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseThemeDark">

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode= "singleTop"
            android:theme="@style/AppThemeLight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".LimitChangeActivity"
            android:label="@string/intent_handle_activity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="@string/mime_battery_limit" />
            </intent-filter>
        </activity>

        <receiver android:name=".receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.PowerConnectionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".LimitChangeReceiver"
            android:label="@string/receiver_limit">
            <intent-filter>
                <action android:name="com.slash.batterychargelimit.CHANGE_LIMIT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.EnableWidgetIntentReceiver">
            <intent-filter>
                <action android:name="com.slash.batterychargelimit.TOGGLE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".EnableWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/enable_widget" />
        </receiver>

        <receiver android:name=".receivers.ServiceReceiver">
            <intent-filter>
                <action android:name="com.slash.batterychargelimit.DISABLE" />
            </intent-filter>
        </receiver>

        <service android:name=".ForegroundService" />

        <activity
            android:name=".activities.CustomCtrlFileData"
            android:windowSoftInputMode="stateAlwaysHidden" />

    </application>
</manifest>